.form-group {
    padding-bottom: 15px;

    > label {
        display: inline-block;
        font-size: 14px;
        color: #666;
        margin-bottom: 5px;
    }
}

.form-control {
    color: #666;
    transition-duration: 300ms;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #E0E0E0;
    padding: 5px 10px;
    height: 35px;
    font-size: 14px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, .05),
                0px 0px 3px rgba(0, 0, 0, .1);

    &::placeholder {
        color: $placeholderColor !important;
        opacity: 1;
    }
    
    &:-ms-input-placeholder {
        color: $placeholderColor !important;
    }
    
    &::-ms-input-placeholder {
        color: $placeholderColor !important;
    }

    &:hover,
    &:focus {
        border-color: #CACACA;
    }
}
