<div  class="teste-page animated fadeIn" [class]="{ 'teste1': option1 }">
    <h3>
        Teste
    </h3>
    <button (click)="add()" style="margin-bottom: 15px">ADD</button>

    <div @if="options.length > 0">
        <div @for="let opt of options" class="animated fadeIn">
            <span (click)="alert(opt)">{{opt}}</span>
            <button style="margin-left: 20px" (click)="remove($index)">REMOVE</button>
        </div>
    </div>

    <div @if="options.length === 0">
        <div class="animated fadeIn">
            <i class="material-icons">style</i>
            Nenhuma tarefa<br/>
            pendente
        </div>
    </div>
</div>