<div  class="root-page">
    <header>
        <img src="/assets/img/logo.svg#white"/>
        <ul>
            <li @for="let item of menuItems" [class]="{ 'actived': routePath === item.path }">
                <a href="/{{item.path}}">{{item.text}}</a>
            </li>
        </ul>
	</header>
	
	<nimble-router class="root-content"></nimble-router>
	
	<div @if="loading" class="root-loaing">Loading page...</div>

	<div class="root-alert">
		⚠️ This sample Nimble project does not contain any third party code or script, everything was done using native resources of HTML and of framework itself.
	</div>
</div>