html, body {
    margin: 0;
    padding: 0;
    font-family: Titillium_Web;
}

body, body * {
    box-sizing: border-box
}

a {
    text-decoration: none
}

h1,h2,h3,h4,h5,h6 {
    color: $primaryColor;
    margin-top: 0;
}