@import 'src/scss/variables';

.first-page {
    padding: 15px;
    text-align: center;

    > span  {
        font-size: 50px;
	}
	
	.page-example {
		border-top: dashed 2px rgba(#FFF, .25);
		max-width: 300px;
		margin: auto;
		margin-top: 25px;

		> button {
			outline: 0;
			margin: 0 5px;
			cursor: pointer;
			background: transparent;
			border-radius: 8px;
			width: 35px;
			height: 35px;
			font-size: 25px;
			font-weight: bold;
			border: 2px solid #FFF;
			color: #FFF;
		}

		.line-bar {
			position: relative;
			height: 30px;
			margin: 20px auto 0 auto;
			border-radius: 6px;
			border: 2px solid #FFF;
			overflow: hidden;

			> div {
				position: absolute;
				height: 100%;
				background: #FFF;
				transition-duration: 200ms;
				transition-delay: 50ms;
			}
		}
	}
}