@font-face {
    font-family: 'Titillium_Web';
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    src: url('assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: 'Titillium_Web';
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    src: url('assets/fonts/TitilliumWeb/TitilliumWeb-Italic.ttf');
}

@font-face {
    font-family: 'Titillium_Web';
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 100;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    src: url('assets/fonts/TitilliumWeb/TitilliumWeb-ExtraLight.ttf');
}

@font-face {
    font-family: 'Titillium_Web';
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 100;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    src: url('assets/fonts/TitilliumWeb/TitilliumWeb-ExtraLightItalic.ttf');
}

@font-face {
    font-family: 'Titillium_Web';
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 200;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    src: url('assets/fonts/TitilliumWeb/TitilliumWeb-Light.ttf');
}

@font-face {
    font-family: 'Titillium_Web';
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 200;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    src: url('assets/fonts/TitilliumWeb/TitilliumWeb-LightItalic.ttf');
}

@font-face {
    font-family: 'Titillium_Web';
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    src: url('assets/fonts/TitilliumWeb/TitilliumWeb-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Titillium_Web';
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 300;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    src: url('assets/fonts/TitilliumWeb/TitilliumWeb-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Titillium_Web';
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    src: url('assets/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf');
}

@font-face {
    font-family: 'Titillium_Web';
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: bold;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    src: url('assets/fonts/TitilliumWeb/TitilliumWeb-BoldItalic.ttf');
}