.f-w{
    &-regular {
        font-weight: normal;
    }
    &-light {
        font-weight: lighter;
    }
    &-bold {
        font-weight: bold;
    }
    &-bolder {
        font-weight: bolder;
    }
    &-100 {
        font-weight: 100;
    }
    &-200 {
        font-weight: 200;
    }
}

.l-h{
    &-0-7 {
        line-height: .7;
    }
    &-0-8 {
        line-height: .8;
    }
    &-0-9 {
        line-height: .9;
    }
    &-1-0 {
        line-height: 1;
    }
    &-1-1 {
        line-height: 1.1;
    }
    &-1-2 {
        line-height: 1.2;
    }
}

.text {
    &-left { text-align: left; }
    &-right { text-align: right; }
    &-center { text-align: center; }
    &-justify { text-align: justify; }

    &-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.bg-white {
    background-color: $colorLight;
}

.d{
    &-table { display: table; }
    &-table-cell { display: table-cell; }
    &-block { display: table; }
}

.va{
    &-top { vertical-align: top; }
    &-bottom { vertical-align: bottom; }
    &-middle { vertical-align: middle; }
}
