@import 'src/scss/variables.scss';

.task-edit-dialog {
    .dialog-header {
        > button {
            background: transparent;
            border: none;
            cursor: pointer;
            color: #777;
            margin: -7px -14px;
            outline: 0;
        }
    }
}