$colorLight: #ECECEC;
$colorAlternative01: #DDC600;
$colorAlternative02: #70D800;
$bgColor01: #3D3D3D;
$bgColor02: #262626;

$page-max-width: 1200px;

$colorTypescript: #CD0000;
$colorCsharp: #0078FE;
$colorMedium: #04A87D;

:root {
    --scale-divisions-x: 1;
    --scale-divisions-y: 1;
    --scale-divisions-full: 1;
    --scale-general: 1;
}