@import 'src/scss/variables.scss';

.login-page {
    display: table;
    width: 100vw;
    height: 100vh;
    background: $primaryColor;
    padding: 100px 25px;
    
    > section {
        .loading-spinner {
            animation-duration: 800ms;
        }

        .form-container {
            animation-duration: 800ms;
            > form {
                animation-duration: 400ms;
    
                > h3 {
                    display: table;
                    margin: auto;
                    max-width: 300px;
                    width: 100%;
                    color: #FFF;
                    text-align: left;
                    font-weight: 400;
                    font-size: 28px;
                    margin-bottom: 25px;
                    line-height: .8;
        
                    > div {
                        display: table-cell;
                        vertical-align: middle;
        
                        &:first-child {
                            width: 30px;
                        }
        
                        &:last-child {
                            padding-left: 12px
                        }
        
                        > i {
                            font-size: 38px;
                        }
                
                        > span {
                            font-weight: 300;
                            font-size: 25px;
                        }
                    }
                }
            
                > section {
                    margin: auto;
                    max-width: 320px;
                    width: 100%;
                    padding: 35px 30px 25px 30px;
                    background: #FFF;
                    border-radius: 10px;
                    box-shadow: 0px 1px 15px rgba(0, 0, 0, .1),
                                0px 0px 3px rgba(0, 0, 0, .1);
        
                    .form-control {
                        border: 0;
                        box-shadow: 2px 4px 5px rgba(0, 0, 0, .05),
                                    0px 0px 3px rgba(0, 0, 0, .1);
                    }
                }
            }
        }
    }
    .login-button {
        cursor: pointer;
        outline: 0;
        border: none;
        color: #FFF;
        font-size: 15px;
        background: $primaryColor;
        border-radius: 20px;
        width: 100%;
        padding: 10px 15px;
        margin-top: 10px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .2),
                    0px 0px 3px rgba(0, 0, 0, .2);
        transition-duration: 300ms;

        &:hover {
            background: $primaryDarkenColor;
        }
    }
}