html, body {
    font-size: 13px;
    color: #666;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Titillium_Web';
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}