<div class="tasks-page">
    <div class="add-msg-container">
        <form (submit)="addSubmit()">
            <input class="form-control"
                [form-field]="form.get('name')"
                type="text"
                autoComplete="off"
                placeholder="Nome da tarefa"
            />
            <button type="submit">
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
    <div @if="tasks.length > 0" class="task-list-container animated fadeIn">
        <div @for="let task of tasks" class="task-item animated fadeIn" [class]="{ 'done': !task.removing && task.done }">
            <section class="animated fadeIn">
                <div class="check-cell">
                    <button type="button" (click)="toggle(task)">
                        <i class="material-icons">
                            {{ task.done ? 'check_box' : 'check_box_outline_blank' }}
                        </i>
                    </button>
                </div>
                <div class="content-cell">
                    {{ task.name }}
                </div>
                <div class="options-cell">
                    <button type="button" title="Remover" (click)="remove(task)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </section>
        </div>
    </div>
    <div @if="tasks.length === 0" class="animated fadeIn">
        <div class="tasks-empty animated fadeIn">
            <i class="material-icons">style</i>
            Nenhuma tarefa<br/>
            pendente
        </div>
    </div>
</div>