<div class="tasks-page">
    <div class="add-msg-container">
        <form [form]="form" (submit)="onSubmit()">
            <input class="form-control"
                [form-field]="form.get('name')"
                [disabled]="loadingTasks"
                type="text"
                autoComplete="off"
                placeholder="Nome da tarefa"
            />
            <button type="submit" [disabled]="loadingTasks">
                <i class="material-icons">add</i>
            </button>
        </form>
    </div>
    <div @if="loadingTasks" class="loading-spinner animated fadeIn mt-4 pt-4">
        <svg width="100" height="100" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="25" strokeLinecap="round"/>
        </svg>
    </div>
    <div @if="!loadingTasks && tasks.length > 0" class="task-list-container animated fadeIn">
        <div @for="let task of tasks" class="task-item animated fadeIn" [class]="{ 'done': task.done }" (click)="editTask(task)">
            <section class="animated fadeIn">
                <div class="check-cell">
                    <button type="button" (click)="toggle(task, $event)">
                        <i class="material-icons">
                            {{ task.done ? 'check_box' : 'check_box_outline_blank' }}
                        </i>
                    </button>
                </div>
                <div class="content-cell">
                    {{ task.name }}
                </div>
                <div class="options-cell">
                    <button type="button" title="Remover" (click)="remove(task, $event)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </section>
        </div>
    </div>
    <div @if="!loadingTasks && tasks.length === 0" class="animated fadeIn">
        <div class="tasks-empty animated fadeIn">
            <i class="material-icons">style</i>
            Nenhuma tarefa<br/>
            pendente
        </div>
    </div>
</div>