.loading-spinner {
    display: table;
    margin: auto;

    > svg:first-child {
        fill: transparent;
        stroke: #FFF;
        stroke-width: 5;
        animation: spinner-dash 1.7s ease infinite, spinner-rotate 1.7s linear infinite;
    }

    @keyframes spinner-dash {
        0% { stroke-dasharray: 1,158; stroke-dashoffset: 0; }
        50% { stroke-dasharray: 142,158; stroke-dashoffset: -42; }
        100% { stroke-dasharray: 142,158; stroke-dashoffset: -155; }
    }
    
    @keyframes spinner-rotate {
        0% {transform: rotate(0deg); }
        100% {transform: rotate(360deg); }
    }
}